@import "src/assest/css/content";
@import "src/assest/css/restaraunt";
@import "src/assest/css/shoesStore";
@import "src/assest/css/eventTicketStore";
@import "src/assest/css/game";
@import "src/assest/css/slider";
@import "src/assest/css/footer";
@import "keyframes";
@import "node_modules/normalize-scss/sass/normalize";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;600&display=swap');


html{
  &::-webkit-scrollbar{
    display: none;
  }
}

body{
  margin: 0;
}

.App{
  height: 100vh;
  width: 100vw;
  background-image: url('../img/bg_2.jpg');
  background-size: cover;
  //overflow: hidden;
  box-sizing: border-box;
  position: relative;
}