@import "src/assest/styles/content";
@import "src/assest/styles/scss/restaraunt";
@import "src/assest/styles/scss/shoesStore";
@import "src/assest/styles/scss/eventTicketStore";
@import "src/assest/styles/scss/game";
@import "src/assest/styles/scss/slider";
@import "src/assest/styles/scss/footer";
@import "src/assest/styles/scss/header";
@import "src/assest/styles/scss/thisPage";
@import "src/assest/styles/scss/descSkills";
@import "keyframes";
@import "node_modules/normalize-scss/sass/normalize";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');


html{
  &::-webkit-scrollbar{
    display: none;
  }
}

body{
  margin: 0;
}

.App{
  height: 100vh;
  width: 100vw;
  background-image: url('../img/bg_2.jpg');
  background-size: cover;
  //overflow: hidden;
  box-sizing: border-box;
  position: relative;
}