.desc-box {
  //border: 1px solid red;
  width: 50%;
  color: #ffffff;
  padding-left: 40px;

  & h2{
  font-family: 'Libre Franklin', sans-serif;
}

  & .skills {
    //border: 1px solid red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    gap: 25px;
    position: relative;


    & .skill {
      width: 80px;
      height: 80px;
      //background-image: url('');
      //background: white;
      background-image: url('../../img/skills/javascript.png');
      background-position: center;
      background-size: cover;
      border-radius: 15px;
      animation-name: skills-appear;
      animation-fill-mode: forwards;
      animation-duration: .5s;
      opacity: 0;
      cursor: pointer;

      @media screen and (max-width: 1440px) {
        width: 60px;
        height: 60px;
      }


      & .issue {
        position: absolute;
        //width: 100px;
        //height: 30px;
        padding: 10px;
        border: 1px solid red;
        top: -60%;
        //left: -15%;
        border-radius: 5px;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Libre Franklin', sans-serif;
        transition: .3s;
        opacity: 0;
      }

      &:hover > .issue {
        opacity: 1;

        &:hover {
          opacity: 0;
        }
      }
    }

    & .other-skills {
      border: 2px solid red;
      border-radius: 10px;
      width: 180px;
      height: 55px;
      margin-top: 2.3%;
      margin-left: 5%;
      background: transparent;
      color: white;
      font-size: 24px;
      cursor: pointer;
      animation-name: other-skills-appear;
      animation-duration: .5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      opacity: 0;
      position: relative;
    }

  }

  & .cv-download {
    background: transparent;
    border: 2px solid red;
    border-radius: 10px;
    width: 62%;
    height: 15%;
    color: white;
    margin-top: 10%;
    font-size: 45px;
    cursor: pointer;

    animation-name: cv-appear;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

.img-box {
  animation-name: me-appear;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  width: 50%;
  height: 200%;
  background-size: cover;
  background-image: url('../../img/skills/me.jpg');
  background-image: linear-gradient(to right, rgba(0,0,0,.4), rgba(255,255,255,0) ), url('../../img/skills/me.jpg');
  top: -25%;
  right: -10%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
  background-position: 0px 0;

  @media screen and (max-width: 1920px) {
    height: 145%;
    background-position: -90px 0;
  }

}

//https://pinetools.com/invert-image-colors
//https://iconscout.com/icons/css-logo
//<a href="https://iconscout.com/icons/typescript" target="_blank">Typescript Logo Icon</a> by <a href="https://iconscout.com/contributors/icon-54">Icon 54</a> on <a href="https://iconscout.com">IconScout</a>

