.slider{

  & .hd-img, .tablet-img {
    height: 100% !important;
    background-image: url('src/assest/img/slider/slider.jpg') !important;
  }

  & .tablet{
    width: 55%;
    height: 55%;
    bottom: -50px;
    left: 5%;

    & .tablet-img{
      background-image: url('src/assest/img/slider/codester.png') !important;
    }
  }

}